@import url(http://fonts.googleapis.com/css?family=Merienda:400,700);
/*--- Nav Font --*/

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
/*--- Body Font --*/

@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
/*--- Heading Font --*/

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #FEFBEF;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Shadow Into Light Two', cursive;
    text-align: center;
    font-size: 175%;
    color: #78C0AB;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 3% 0 3% 0;
}

h2,
h3,
h4 {
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    color: #5E412F;
    text-transform: uppercase;
    letter-spacing: 1%;

}

p {
    padding: 2%;
    color: #5E412F;
    text-align: justify;
}

img {
    text-align: center;
    max-width: 100%;
    height: auto;

}

#wrapper {
    max-width: 1120px;
    margin: 0 auto;
    background-color: #FEFBEF;
    overflow: auto;
}

header {
    width: 97%;
}

#logo {
    float: left;
    margin: 3% 0 0 5%;

}


#banner-wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 0 3% 0;
}

/*--- Start Navigation Style --*/

nav {
    box-shadow: 3px 4px 24px 0 rgba(0, 0, 0, 0.07);
    margin-top: 2px;
    background: #FCEBB6;
    font-family: 'Merienda', cursive;
}

.nav ul {
    width: 100%;
    overflow: hidden;
    list-style: none;
}

.nav-button:hover {
    cursor: pointer;
}

.navigation {
    clear: both;
    width: 100%;
    position: relative;
}

.nav a {
    color: #5E412F;
    text-transform: uppercase;
    text-decoration: none;
}

body .nav .nav-menu li a {
    display: inline-block;
    padding: 15px 20px;
    color: #5E412F;
    font-size: 18px;
    font-weight: 700;
}

.nav.yoga .nav-menu li.active a {
    color: #5E412F;
    text-decoration: underline;
}

.nav.yoga .nav-menu li a:hover {
    color: #5E412F;
    text-decoration: underline;
}

.nav.yoga .nav-toggled {
    /*width:100%;*/
    min-height: 36px;
    border-radius: 6px;
}

.nav.yoga .nav-toggled-controls {
    display: block;
    height: 36px;
    color: #5E412F;
    text-align: left;
    position: relative;
}

.nav.yoga .nav-toggled-title {
    position: relative;
    top: 9px;
    left: 15px;
    font-size: 16px;
}

.nav.yoga .nav-button {
    display: block;
    position: absolute;
    right: 15px;
    top: 8px;
}

.nav.yoga .nav-button span {
    display: block;
    margin-top: 4px;
    height: 2px;
    background: #5E412F;
    width: 24px;
}

.nav-toggled-controls {
    border-bottom: 0px solid #5E412F;
}

.nav.yoga .nav-toggled ul li a {
    display: block;
    width: 100%;
    background-color: #FCEBB6;
    text-align: left;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid #444444;
    text-align: center;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav.yoga .nav-toggled ul li a:active {
    background-color: #FCEBB6;
    color: #5E412F;
    border-top: 1px solid #5E412F;
}

.nav.yoga .nav-toggled ul li a:hover {
    background: #FCEBB6;
    text-decoration: none;
    color: #5E412F;
    border-bottom: 1px solid #F07818;
}

.nav.yoga .nav-toggled ul li {
    position: relative;
}

.toggle-sm:after {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    line-height: 25px;
}

.nav .nav-menu {
    text-align: center;
    overflow: visible;
    min-height: 56px;
}

.nav .nav-menu li {
    display: inline-block;
    padding: 0px;
    margin: 0px !important;
    position: relative;
}

.nav-button:hover {
    cursor: pointer;
}

.nav .nav-toggled ul {
    display: none;
    margin: 0px;
    padding: 0px;
}

.nav ul {
    overflow: visible;
}

body .nav .nav-menu li a {
    padding: 15px 30px;
}


.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}


#login td {
    padding: 10px 0px 5px 0px;
}

#login tr td input[type="text"] {
    height: 30px;
    background-color: lightgrey;
    color: black;
    padding: 0px 5px;
    font-size: 16px;
    border: 1px solid black;

}

#login tr td input[type="password"] {
    height: 30px;
    background-color: lightgrey;

    border: 1px solid black;
    padding: 0px 5px;
    font-size: 16px;
}

#login tr td a {
    background-color: lightgrey;
    padding: 2px 5px 5px 10px;
    text-decoration: none;
    font-weight: 800;
    display: block;
    border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.logo {
    font-family: 'Monoton', cursive;
    word-spacing: 2px;
    color: black;
    text-transform: lowercase;
    font-size: 20px;
    padding-left: 5px;
    vertical-align: middle;
}

#header {
    width: 100%;
    height: 70px;
    background-color: lightgrey;
}

.logo::first-letter {

    color: red;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 44px;
    font-family: 'Monoton', cursive;
    font-family: 'Kavivanar', cursive;

}


.one-third {
    float: left;
    width: 32%;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

.one-third i {
    font-size: 50px;
    color: black;
    font-weight: 900;

}


.social {
    list-style: none;
}

.social li {
    height: 40px;
    width: 30%;
    text-align: center;
    font-size: 25px;
    padding: 14px 0px 0px;
    background-color: lightblue;
    float: left;

}

.social li i {
    font-size: 30px;
}

.social .fb {
    background-color: #3b5998;
}

.social .tw {
    background-color: #1da1f2;
}

.social .yt {
    background-color: #bb0000;
}

.social .link {
    background-color: #0077b5;
}

.social .ins {
    background-color: #405de6;
}

.social a {
    color: wheat;
    font-size: 25px;
}

.social a:hover {
    color: white;
    font-size: 32px;
}


#form {
    width: 100%;
    height: 300px;
      position: relative ;  

    margin-bottom: 20px;


}

#form table {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 30%;
}

#form table tr td{
    height: 30px;
}

input{
    height: 30px;
}